services:
  goapp:
    container_name: goappdos
    image: goappdos:1.0.0
    build:
      context: ./backend
      dockerfile: go.dockerfile
    environment:
      DATABASE_URL: 'postgres://dbproyecto:dbproyecto@dbProyectoAgudeloMotta:5432/dbproyecto?sslmode=disable'
    ports:
      - '8000:8000'
    depends_on:
      - dbProyectoAgudeloMotta

  nextapp:
    container_name: nextappdos
    image: nextappdos:1.0.0
    build:
      context: ./frontend
      dockerfile: next.dockerfile
    ports:
      - '3000:3000'
    environment:
      NEXT_PUBLIC_API_URL: 'http://goapp:8000'
    depends_on:
      - goapp
    restart: unless-stopped

  dbProyectoAgudeloMotta:
    container_name: dbProyectoAgudeloMotta
    image: postgres:13
    environment:
      POSTGRES_USER: dbproyecto
      POSTGRES_PASSWORD: dbproyecto
      POSTGRES_DB: dbproyecto
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}
